*{
width: 100%;
}

body {
  background-color: #f4f6f9;
  font-family: Arial, sans-serif;
  
}

.hero-section {
  background: linear-gradient(to right, #007bff, #6610f2);
}

.student-card {
  border-radius: 12px;
  transition: transform 0.2s ease;
  color: black;
}

.student-card:hover {
  transform: translateY(-5px);
}

button {
  border-radius: 6px;
}